{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><center><strong>Cool Coders Flask Homepage</strong></center></h1>
            <head>
            <title>Cool Coders</title>
          </head>
          <body style="text-align:center;color:rgb(255, 255, 255)">
            <h1 style="text-align:center;font-family:verdana;color:lightpink;">Welcome to Our Website!</h1>
          <img src="static/assets/scrum.png" alt="Scrum Board Process" width="104" height="142"class="center">
            <h2 style="text-align:center;font-family:verdana;color:lightblue;">Our Members:</h2>
                <p>Ava Carlson: Scrum Master</p>
                <p>Shruthi Damodar: DevOps</p>
                <p>Alexa Carlson: Frontend Developer</p>
                <p>Antony Yu: Backend Developer</p>
            </body>
    </div>
{% endblock %}